<div class="uk-width-large uk-margin-top uk-align-center">
  <h1><%= t '.title' %></h1>

  <%= form_for :user, url: password_reset_path(@user.perishable_token), method: :put do |f| %>
    <div class="uk-margin">
      <%= f.password_field :password, placeholder: t('.new_password'), autofocus: true,
        class: 'uk-input uk-form-large' %>
    </div>

    <div class="uk-margin">
      <%= f.button t('.change_password'), class: 'uk-button uk-button-large uk-button-primary' %>
    </div>
  <% end %>
</div>
