<div class="uk-width-large uk-margin-top uk-align-center">
  <h1><%= t '.title' %></h1>

  <%= form_for :password_reset, url: password_resets_path do |f| %>
    <div class="uk-margin">
      <%= f.text_field :email, placeholder: t('.email'), class: 'uk-input uk-form-large' %>
    </div>

    <div class="uk-margin">
      <%= f.button t('.reset_password'), class: 'uk-button uk-button-large uk-button-primary' %>
    </div>
  <% end %>
</div>
