<div class="uk-width-large uk-align-center">
  <h1> <%= t '.title' %></h1>

  <%= render 'form' %>

  <p>
    Not happy? <%= link_to t('.delete_account'), @user, data: { confirm: t('.delete_confirm') },
      method: :delete, class: 'uk-text-danger' %>
  </p>
</div>
