<% if flash.any? %>
  <div class="uk-margin-top">
    <% if flash[:notice] %>
      <div class="uk-alert-success" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:error] %>
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <%= flash[:error] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
<% end %>
