<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <%= link_to t('global.app_name'), root_path, class: 'uk-logo uk-navbar-item' %>

    <ul class="uk-navbar-nav">
      <%= active_li_link_to t('nav.about'), about_path %>
    </ul>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <%= active_li_link_to t('nav.log_in'), root_path %>
    </ul>
  </div>
</nav>
